{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">About Us</h1>
    <p class="lead">Learn about us and how we got started.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h1>How We Started</h1>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <h1>How to join</h1>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <h1>Where we meet</h1>
      <p></p>
    </div>
  </div>
</div>
{% endblock %}
