{% extends "base.html" %}

{% block title %}Southern Indiana Esports Association{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Southern Indiana Esports Association</h1>
    <p class="lead"></p>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>About Us</h2>
      <a class="btn btn-primary btn-lg" href="about" role="button">Learn more about us here</a>
    </div>
    <div class="col-lg-6">
      <h2>Upcoming Events</h2>
      <a class="btn btn-primary btn-lg" href="events" role="button">See past events here</a>
    </div>
  </div>
</div>
{% endblock %}
