{% extends "base.html" %}

{% block title %}Social Media{% endblock %}

{% block content %}
<div class="container">
  <h1 style="text-align: center;">Social Media</h1>
  <p style="text-align: center;">Follow us on social media</p>
  <a href="https://www.facebook.com/SouthernIndianaEsports/">Facebook</a>
  <a href="https://twitter.com/southerniea">Twitter</a>
  <a href="https://twitter.com/southerniea">Instagram</a>
  <a href="https://discord.io/siea">Discord</a>
  <a href="https://www.youtube.com/channel/UCDGF8xNCG0JMKfWiw_3ezxQ">YouTube</a>
  <a href="https://www.twitch.tv/southernindianaesports">Twitch</a>
</div>
{% endblock %}
